# PHP
/backend/vendor/
/mobileapi/vendor/

# Flutter/Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/pubspec.lock
!mobile-android/pubspec.lock
!mobile-ios/pubspec.lock
**/*.g.dart

# IDE
.idea/
.vscode/

# OS
.DS_Store
