APP_NAME="Ministrant Manager"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://app.ministrant.eu

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ministrant_app
DB_USERNAME=ministrant_app
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

CACHE_STORE=database
QUEUE_CONNECTION=database
